.buttonHome{
margin-top: 80px;
text-decoration: none;
scale: 1.1em;;
transition: 1s;
width: fit-content;
margin-left: auto;
margin-right: auto;
}
.buttonHome:hover{
        scale: 0.7;
        -webkit-transform: rotate(360deg);transform: rotate(360deg);
        border-radius: 999px;
}


.link{
color:rgb(34, 33, 33);
text-decoration: none;
font-weight: bold;
border: 1px rgba(118, 118, 118, 0.447) solid;
border-radius: 999px;
padding-left: 2rem;
padding-right: 2rem;
background-image: linear-gradient(to bottom , rgba(99, 99, 99, 0.575), rgba(178, 178, 178, 0.425));
transition: 1s;
}
.link:hover{
border: 0.01px green solid ;
background-image: linear-gradient(to bottom , rgba(4, 138, 2, 0.66), rgba(12, 243, 0, 0.468));
box-shadow: 0 0 100px 50px rgba(115, 255, 0, 1);
background-color: rgba(22, 255, 1, 0.349);
filter: brightness(1.2);
border-radius: 999px;
}
.contains{
margin-top: 6%;
margin-left: auto;
margin-right: auto;
border: 2px rgba(0, 0, 0, 0.388) solid;
border-radius: 10px;
display: grid;
width: 80%;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(6fr , 1fr);
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background: url(../../../img/rick-and-morty-wallpaper.jpg);
transition: 1s;
filter: saturate(1.1);
}
.contains:hover{
filter: brightness(1.1);
filter:contrast(1.1);
scale: 1.02;
box-shadow: rgba(1, 216, 8, 0.605) 0px 54px 55px, rgba(80, 208, 0, 0.523) 0px -12px 30px, rgba(39, 173, 2, 0.491) 0px 4px 6px, rgba(47, 194, 3, 0.473) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.name{
    color: rgb(0, 0, 0);
    grid-row:span 1;
    grid-column: span 3;
    margin-top: 2%;
    margin-right: 50%;
    font-size: 13px;
    margin-left: 10px;
}
.imageConteiner{
grid-row:span 4;

}
.image{
border-radius: 999px;
width: 250px;
margin-left: 7%;
border: 2px rgb(2, 2, 2) solid;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.origin{
grid-row: span 6;
margin-left: 40px;
font-size: 16px;
font-weight: bolder;
}
.status{
font-size: 18px;
grid-column: span 2;
grid-row: span 1;
margin-top: 10%;
text-justify:distribute;

font-weight: bold;
}


.dead{
        transition: 5s;
        scale: 0.85;
        filter: grayscale(100%);
        border-radius: 999px;
        width: 250px;
        margin-left: 7%;
        border: 2px rgb(2, 2, 2) solid;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}