.forms{
    border:2px rgba(63, 63, 63, 0.055) solid;
    border-radius: 10px;
    padding: 2rem;
    background-image: linear-gradient(to bottom , rgba(99, 99, 99, 0.05), rgba(178, 178, 178, 0.037));

    box-shadow: 0 0 5px 1px rgb(118, 118, 118);
}

.errors {
color:red;
font-style: italic;
font-size: 12px;
}
.buttons{
           
    background-image: linear-gradient(to bottom , rgba(99, 99, 99, 0.027), rgba(178, 178, 178, 0.037));
        margin-top: 15px;
        width: 80px;
        height: 25px;
        display: inline;
       
       border: 1px rgba(73, 73, 73, 0.018) solid;
       
       border-radius: 10px;
       transition: 0.3s;
       font-weight: bolder;
       font-family: 'Gagalin', sans-serif;
    }

    .buttons:hover{
        border: 0.01px rgb(131, 129, 129) solid ;
        background-image: linear-gradient(to bottom , rgba(148, 151, 148, 0.66), rgba(221, 221, 221, 0.468));
        box-shadow: 0 0 5px 1px rgb(118, 118, 118);

        filter: brightness(1.2);
    }
    .buttons:active{
        box-shadow:inset 0 0 5px 1px rgb(118, 118, 118);
    }

.labels{
    font-size: 14px;
    font-weight: bold;
}

